body
{
    background-image: url(bg.jpg);
}
#head{
    border: solid;
    border-width: 5px;
    background: red;
    text-align: center;
    position: static;
    right: auto;
    left: auto;
    margin-top: 50px;
    padding: 30px;
    font-family: monospace;
}
#c1{
    width: 250px;
    height: 250px;
}
#choose{
    margin-top: 50px;
    margin-bottom: 50px;
}
#c2{
    border: solid;
    border-width:4px;
    border-color: black;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: red;
    margin-top: 10px;
    color: black;
    font-family: monospace;
}
#c1:hover{
    width: 300px;
    height: 300px;
}
#c2:hover{
    color: white;
}